/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

footer {
  margin-top: 30px;
}

.selected {
  background-color: moccasin;
}

a {
  cursor: pointer;
}
